<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrapValidator.css">	
	<script src="js/jquery-2.1.4.min.js"></script>
	

    <style>
        body{
	         background:url("images/bg.jpg");
	         background-repeat: no-repeat;
	         background-size: cover;
        }
        [class="container"]{
            background-color: rgba(255, 255, 255, 0.8);
            max-width: 600px;
            margin-top: 50px;
        }
        [class="nav nav-tabs"]{

        }
        form{
            margin-top: 20px;
        }
    </style>
</head>
<body>
 <h1 style="text-align: center;color:skyblue" >迎光租赁后台管理系统</h1>
        <div class="container">
       
            <div class="center-block" id="page">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登陆</a></li>
                  
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="login">
                        <form class="form-horizontal" id="loginform" action="adminlogin" method="POST">
								<div class="form-group">
									<label for="inputanem" class="col-sm-2 control-label"></label>
									<div class="col-sm-8">
									<input type="text" class="form-control" name="username" id="username" placeholder="用户名">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label"></label>
									<div class="col-sm-8">
									<input type="password" class="form-control" name="password" id="password" placeholder="Password">
									</div>
								</div>								
								<div class="form-group">
									<div class=" col-sm-12">
									<button type="submit" class="btn btn-info center-block" id="loginbtn">登录</button>
									
									</div>
									<hr>

								</div>
						</form>
                  </div>
         
                </div>
            </div>
         </div>
    

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrapValidator.js"></script>
    <script src="js/adminlogin.js"></script>
</body>
</html>